.banner-with-product .banner-with-product-row{
  overflow: hidden;
  margin-bottom: 30px;
}
.banner-with-product .banner-with-product-row:last-child{
  margin-bottom: 0;
}
.banner-with-product .product-banner{
  max-width: 50%;
  width: 100%;
  float: left;
  padding-right: 15px;
}
.banner-with-product .banner-product-collections{
  max-width: 50%;
  width: 100%;
  float: left;
  padding-left: 15px;
}
.banner-with-product .product-grid .grid__item{
  width: calc(50% - var(--grid-desktop-horizontal-spacing) * 1 / 2);
  max-width: calc(50% - var(--grid-desktop-horizontal-spacing) * 1 / 2);
}
.banner-with-product .banner-product-collections slider-component{
  overflow-y: auto;
  overflow-x: hidden;
}
.banner-with-product .banner-with-product-row:nth-child(2n) .product-banner{
  float: right;
  padding-left: 15px;
  padding-right: 0;
}
.banner-with-product .banner-with-product-row:nth-child(2n) .banner-product-collections{
  float: left;
  padding-right: 15px;
  padding-left: 0;
}
.banner-with-product .banner-product-collections slider-component::-webkit-scrollbar {
  width: 3px;
}
.banner-with-product .category-collection-banner{
  position: relative;
}
.product-banner-text {
  position: absolute;
  width: 100%;
  max-width: 330px;
  z-index: 2;
}
.product-banner-block--top-left,
.product-banner-block--top-center,
.product-banner-block--top-right{
  transform: translateY(0);
  top: 30px;
}
.product-banner-block--top-left,
.product-banner-block--middle-left,
.product-banner-block--bottom-left { 
  left: 30px;
  right: auto;
  margin: 0 auto;
}
.product-banner-block--top-center,
.product-banner-block--middle-center,
.product-banner-block--bottom-center { 
  left: 0;
  right: 0;
  margin: 0 auto;
}
.product-banner-block--top-right,
.product-banner-block--middle-right,
.product-banner-block--bottom-right {
  left: auto;
  right: 30px;
  margin: 0;
}
.product-banner-block--middle-center,
.product-banner-block--middle-right,
.product-banner-block--middle-left {
  top: 50%;
  transform: translateY(-50%);
}
.product-banner-block--bottom-center, 
.product-banner-block--bottom-right,
.product-banner-block--bottom-left {
  bottom: 30px;
}
.product-banner-text--left {
  text-align: left;
}
.product-banner-text--center {
  text-align: center;
}
.product-banner-text--right {
  text-align: right;
}
.banner-with-product .theme_buttons {
  margin-top: 30px;
}
.banner-with-product .banner-position--right .product-banner{
  float: right;
  padding-left: 15px;
  padding-right: 0;
}
.banner-with-product .banner-position--right .banner-product-collections{
  padding-left: 0px;
  padding-right: 15px;
}
.banner-with-product .banner-product-collections .grid {
  display: flex;
}

.banner-with-product .category-collection-banner .media{
  border-radius: var(--media-radius);
}
.banner-with-product .category-collection-banner img{
  transition: all .5s ease;
}
.banner-with-product .category-collection-banner:hover img{
  scale: 1.1;
}


@media screen and (max-width: 1299px){
  .banner-with-product .theme_buttons {
    margin-top: 20px;
  }
}
@media screen and (max-width: 991px){
  .product-banner-text{
    max-width: 310px;
  }
  .banner-with-product .product-grid .grid__item{
    width: calc(50% - var(--grid-mobile-horizontal-spacing) * 1 / 2);
    max-width: calc(50% - var(--grid-mobile-horizontal-spacing) * 1 / 2);
  }
}

@media screen and (max-width: 767px){
  .banner-with-product .product-banner,
  .banner-with-product .banner-product-collections{
    max-width: 100%;
    padding: 0;
  }
  .banner-with-product .banner-position--right .product-banner,
  .banner-with-product .banner-position--right .banner-product-collections{
    padding: 0;
  }
  .banner-with-product .banner-product-collections{
    margin-top: 15px;
  }
  .banner-with-product .banner-with-product-row:nth-child(2n) .product-banner,
  .banner-with-product .banner-with-product-row:nth-child(2n) .banner-product-collections{
   padding: 0; 
  }
}
@media screen and (max-width: 380px){
  .banner-with-product .banner-product-collections slider-component {
    max-height: 335px;
  }
  .product-banner-text{
    max-width: 250px;
  }
}