.banner-style4 .banner-with-text3{
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}
.banner-style4 .banner-image{
  position: relative;
}
.banner-style4 .banner-section-wrapper{
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
}
.first-banner-section.col-lg-6,.second-banner-section.col-lg-6{
  max-width: calc(50% - 15px);
  width: 100%;
}
.first-banner-section.col-lg-4,.second-banner-section.col-lg-4{
  max-width: calc(33.33% - 20px);
  width: 100%;
}
.banner-style4 .banner-text {
  position: absolute;
  width: 100%;
  max-width: 330px;
  z-index: 2;
}
.banner-style4 .banner-block--top-left,
.banner-style4 .banner-block--top-center,
.banner-style4 .banner-block--top-right{
  transform: translateY(0);
  top: 30px;
}
.banner-style4 .banner-block--top-left,
.banner-style4 .banner-block--middle-left,
.banner-style4 .banner-block--bottom-left { 
  left: 30px;
  right: auto;
  margin: 0 auto;
}
.banner-style4 .banner-block--top-center,
.banner-style4 .banner-block--middle-center,
.banner-style4 .banner-block--bottom-center { 
  left: 0px;
  right: 0;
  margin: 0 auto;
}
.banner-style4 .banner-block--top-right,
.banner-style4 .banner-block--middle-right,
.banner-style4 .banner-block--bottom-right {
  left: auto;
  right: 30px;
  margin: 0;
}
.banner-style4 .banner-block--middle-center,
.banner-style4 .banner-block--middle-right,
.banner-style4 .banner-block--middle-left {
  top: 50%;
  transform: translateY(-50%);
}
.banner-style4 .banner-block--bottom-center, 
.banner-style4 .banner-block--bottom-right,
.banner-style4 .banner-block--bottom-left {
  bottom: 30px;
}
.banner-style4 .banner-text--left {
  text-align: left;
}
.banner-style4 .banner-text--center {
  text-align: center;
}
.banner-style4 .banner-text--right {
  text-align: right;
}
.banner-style4 .new-banner-wrapper{
  position: relative;
}
.banner-style4 .new-banner-wrapper img{
  transition: all 0.5s ease;
}
.banner-style4 .new-banner-wrapper:hover img {
  scale: 1.1;
}
.banner-style4 .inner-banner-wrapper .new-banner-wrapper{
  max-width: 100%;
  width: 100%;
}
.banner-style4 .theme_main_heading{
  margin-bottom: 20px;
  font-size: 30px;
}
.banner-style4 .right-inner-banner .inner-banner-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 30px;
  row-gap: 30px;
}
.banner-style4 .media{
  border-radius: var(--media-radius);
}
@media screen and (max-width: 1429px) {
  .banner-style4 .banner-block--top-left,
  .banner-style4 .banner-block--top-center,
  .banner-style4 .banner-block--top-right{
    top: 15px;
  }
  .banner-style4 .banner-block--bottom-center, 
  .banner-style4 .banner-block--bottom-right,
  .banner-style4 .banner-block--bottom-left {
    bottom: 15px;
  }
  .banner-style4 .banner-block--top-right,
  .banner-style4 .banner-block--middle-right,
  .banner-style4 .banner-block--bottom-right{
    right: 15px;
  }
  .banner-style4 .banner-block--top-left,
  .banner-style4 .banner-block--middle-left,
  .banner-style4 .banner-block--bottom-left{
    left: 15px;
  } 
  .banner-style4 .theme_main_heading{
    font-size: 26px;
  }
  .banner-style4 .banner-with-text4.full_width {
    padding: 0px 15px;
  }
}
@media screen and (max-width: 1366px) {
  .banner-style4 .banner-text {
    max-width: 325px;
  }
}
@media screen and (max-width: 1199px) {
  .banner-style4 .theme_main_heading{
    font-size: 22px;
  }
}
@media screen and (max-width: 991px) {
  .banner-style4 .theme_main_subheading{
    font-size: 14px;
  }
  .banner-style4 .banner-text {
    max-width: 250px;
  }
  .banner-style4 .banner-section-wrapper,
  .banner-style4 .right-inner-banner .inner-banner-wrapper{
    column-gap: 15px;
    row-gap: 15px;
  }
  .first-banner-section.col-lg-6,.second-banner-section.col-lg-6,
  .first-banner-section.col-lg-4{
    max-width: calc(50% - 8px);
  }
  .second-banner-section.col-lg-4{
    max-width: 100%;
    order: 3;
  }
  .second-banner-section.col-lg-4 .inner-banner-wrapper .new-banner-wrapper{
    max-width: calc(50% - 8px);
  }
}
@media screen and (max-width: 840px) {
  .banner-style4 .theme_main_heading {
    margin-bottom: 10px;
    font-size: 18px;
  }
  .banner-style4 .right-inner-banner {
    margin-top: 0px;
  }
  .banner-style4 .banner-text {
    max-width: 250px;
  }
}
@media screen and (max-width: 767px){
  .first-banner-section.col-lg-6,.second-banner-section.col-lg-6{
    max-width: 100%;
  }
  .banner-style4 .inner-banner-wrapper .new-banner-wrapper{
    max-width: calc(50% - 8px);
  }
}
@media screen and (max-width: 640px) {
  .banner-style4 .inner-banner-wrapper .new-banner-wrapper,
  .second-banner-section.col-lg-4 .inner-banner-wrapper .new-banner-wrapper{
    max-width: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 575px) {
   .first-banner-section.col-lg-4{
    max-width: 100%;
  }
  .banner-style4 .theme_buttons{
    display: none;
  }
}
@media screen and (max-width: 479px) {
  .banner-style4 .banner-text {
    max-width: 260px;
  }
}