.category-product .category-product-row{
  overflow: hidden;
  margin-bottom: 30px;
}
.category-product .category-product-row:last-child{
  margin-bottom: 0;
}
.category-product .category-banner{
  max-width: 50.617%;
  width: 100%;
  float: left;
  padding-right: 15px;
}
.category-product .best-selling-product-collections{
  max-width: 49.383%;
  width: 100%;
  float: left;
  padding-left: 15px;
}
.category-product .product-grid .grid__item{
  width: calc(50% - var(--grid-desktop-horizontal-spacing) * 1 / 2);
  max-width: calc(50% - var(--grid-desktop-horizontal-spacing) * 1 / 2);
}
.category-product .best-selling-product-collections slider-component{
  max-height: 950px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 15px;
}
.category-product .category-product-row:nth-child(2n) .category-banner{
  float: right;
  padding-left: 15px;
  padding-right: 0;
}
.category-product .category-product-row:nth-child(2n) .best-selling-product-collections{
  float: left;
  padding-right: 15px;
  padding-left: 0;
}
.category-product .best-selling-product-collections slider-component::-webkit-scrollbar {
  width: 3px;
}
.category-product .category-collection-banner{
  position: relative;
}
.category-product .collection-name-wrapper{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 14px;
  transition: all .5s ease;
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  box-shadow: 0 0 10px #0000000f;
}
.category-product .collection-product-count{
  height: 30px;
  width: 30px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .5s ease;
}
.category-product .collection-name-wrapper .h3{
  font-size: 18px;
  font-weight: var(--text_weight);
  transition: all .5s ease;
  text-transform: var(--text_style);
}
.category-product .category-collection-banner .media{
  border-radius: var(--media-radius);
}
.category-product .category-collection-banner img{
  transition: all .5s ease;
}
.category-product .category-collection-banner:hover img{
  scale: 1.1;
}
@media screen and (max-width: 1429px){
  .category-product .best-selling-product-collections slider-component{
    max-height: 720px;
  }
}
@media screen and (max-width: 1366px){
  .category-product .collection-name-wrapper .h3{
    font-size: 16px;
  }
}
@media screen and (max-width: 1299px){
  .category-product .collection-name-wrapper {
    bottom: 10px;
    left: 10px;
    right: 10px;
  }
  .category-product .collection-product-count {
    height: 25px;
    width: 25px;
    font-size: 14px;
  }
}
@media screen and (max-width: 1199px){
  .category-product .best-selling-product-collections slider-component{
    max-height: 600px;
  }
}
@media screen and (max-width: 991px){
  .category-product .collection-name-wrapper .h3{
    font-size: 14px;
  }
  .category-product .product-grid .grid__item{
    width: calc(50% - var(--grid-mobile-horizontal-spacing) * 1 / 2);
    max-width: calc(50% - var(--grid-mobile-horizontal-spacing) * 1 / 2);
  }
  .category-product .best-selling-product-collections slider-component{
    max-height: 490px;
  }
}
@media screen and (max-width: 840px){
  .category-product .best-selling-product-collections slider-component {
    max-height: 410px;
  }
}
@media screen and (max-width: 767px){
  .category-product .category-banner,
  .category-product .best-selling-product-collections{
    max-width: 100%;
    padding: 0;
  }
  .category-product .best-selling-product-collections{
    margin-top: 15px;
  }
  .category-product .category-product-row:nth-child(2n) .category-banner,
  .category-product .category-product-row:nth-child(2n) .best-selling-product-collections{
   padding: 0; 
  }
}
@media screen and (max-width: 380px){
  .category-product .best-selling-product-collections slider-component {
    max-height: 335px;
  }
}