
.home_collapsible_content .accordion__content{
  margin-top: 15px;
  display: none;
  font-size: 14px;
  padding: 8px 12px;
}
.home_collapsible_content .accordion-item{
  margin-bottom: 15px;
}
.home_collapsible_content .accordion .accordion-content{
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all .5s ease;
  border-radius: var(--buttons-radius-outset);
}
.home_collapsible_content .accordion .accordion-item.active .icon-plus{
  display: none;
}
.home_collapsible_content .accordion .accordion-item.active .icon-minus{
  display: block;
}
.home_collapsible_content .accordion .icon-minus{
  display: none;
}
.home_collapsible_content .accordion-item.active .paragraph {
  display: block;
}
.home_collapsible_content .collapsi-icon{
  height: 25px;
  width: 25px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content:  center;
  transition: all .5s ease;
}
.home_collapsible_content .accordion__title{
  font-size: 16px;
  text-transform: var(--text_style);
  transition: all .5s ease;
  display: flex;
  align-items: center;
}
.home_collapsible_content .theme_buttons{
  margin-top: 20px;
}
.home_collapsible_content .collapsi-icon svg{
  height: 14px;
  width: 14px;
}
@media screen and (max-width: 1429px){
  .home_collapsible_content .theme_buttons{
    margin-top: 10px;
  }
}
@media screen and (max-width: 991px){
  .home_collapsible_content .theme_buttons{
    margin-top: 0px;
  }
  .home_collapsible_content .accordion .accordion-content{
    padding: 10px 14px;
  }
}
