.parallax-main-wrap{
  display: flex;
  position: relative;
  border-radius: var(--media-radius);
  overflow: hidden;
}
.first_parllax_img{
  max-width: 60.345%;
  width: 100%;
  padding-left: 60px;
}
.second_parllax_img{
  max-width: 50%;
  width: 100%;
}
.parallax-text{
  max-width: 50%;
  width: 100%;
  display: flex;
  align-items: center;
}
.parallax-content-text{
  padding: 50px 20px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  max-width: 30%;
  width: 100%;
  z-index: 1;
  border-radius: var(--media-radius);
}
.parallax-content-text .theme_buttons{
  margin-top: 25px;  
}
.parallax-content-text .theme_main_heading{
  text-transform: var(--text_style);
}
.parallax-img img{
  transition: all .5s ease;
  cursor: pointer;
}
.parallax-img:hover img{
  scale: 1.1;
}
.first_parllax_img .media{
  border-radius: var(--media-radius);
}

@media screen and (max-width: 1429px){
  .parallax-content-text .theme_buttons {
    margin-top: 20px;
  }
  .parallax-content-text{
    padding: 30px 20px;
  }
}
@media screen and (max-width: 1199px){
  .parallax-content-text{
    max-width: 45%;
  }
}
@media screen and (max-width: 991px) {
  .first_parllax_img{
    max-width: 75.345%;
  }
}
@media screen and (max-width: 767px) {
  .parallax-content-text{
    max-width: 60%;
    padding: 20px;
  }
}
@media screen and (max-width: 575px){
  .parallax-content-text{
    max-width: 75%;
  }
}
@media screen and (max-width: 479px){
  .parallax-text{
    display: none;
  }
  .parallax-main-wrap{
    background: transparent !important;
    display: block;
  }
  .second_parllax_img{
    max-width: 100%;
  }
}