.gdpr-cookie{
  z-index: 10;
  position: fixed;
  max-width: 265px;
  width: 100%;
  padding: 30px 20px;
  bottom: 20px;
  text-align: center;
   box-shadow: 0 0 10px #0000000f;
  border-radius: var(--media-radius);
}
.gdpr-cookie p{
  font-size: 14px;
  line-height: 28px;
}
.gdpr-cookie.active {
  bottom: 101px;
}
.gdpr-cookie .cookie-policy {
  display: inline-block;
  transition: all .5s ease;
  font-size: 14px;
}
.gdpr-cookie .cookie_btn {
  cursor: pointer;
  display: block;
  margin: 24px auto 0 auto;
  transition: all .5s ease;
}
.gdpr-cookie p{
  margin-bottom: 10px;
}
@media screen and (max-width: 1099px) {
  .gdpr-cookie .cookie_btn {
    margin: 20px auto 0;
  }
  .gdpr-cookie{
    padding: 18px;
  }
}
@media screen and (max-width: 991px) {
  .gdpr-cookie p{
    line-height: 24px;
  }
}
@media screen and (max-width: 840px) {
  .gdpr-cookie p {
    margin-bottom: 6px;
  }
}
@media screen and (max-width: 680px) {
  .gdpr-cookie{
    max-width: 250px;
  }
  .gdpr-cookie p{
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 0px;
  }
  .gdpr-cookie .cookie-policy{
     font-size: 12px;
  }
}
@media screen and (max-width: 479px) {
  .gdpr-cookie{
    max-width: 100%;
    padding: 14px;
    right: 0px !important;
    left: 0px !important;
    bottom: 0;
  }
  .gdpr-cookie .cookie_btn{
    margin: 12px auto 0;
    font-size: 12px;
  }
}