.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact .field {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 2rem;
  }
}

.contact__button {
  margin-top: 3rem;
}

@media screen and (min-width: 750px) {
  .contact__button {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 750px) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}

.contact_main_heading{
  font-size: 32px;
  margin-bottom: 15px;
  text-transform: var(--text_style);
  font-weight: 500;
}
.contact-map {
  width: 100%;
  padding-bottom: 40px;
}
.contact-form-partition {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  width: 100%;
}
.form-partition, .contact-address-partition{
 max-width: 50%;
 width: 100%;
 float: left;
 padding-left: 15px;
 padding-right: 15px;
} 
.contact-row{
  display: flex;
  margin: 0px -15px;
}
.company-info li i {
  font-size: 25px;
}
ul.company-info li {
  margin-bottom: 25px;
}
ul.company-info li:last-child {
  margin-bottom: 0;
}
.address-information-wrapper, .contact-information-wrapper, .email-information-wrapper, .clock-information-wrapper {
  display: flex;
  width: 100%;
}
.address-icon-information, .contact-icon-information, .email-icon-information, .clock-icon-information {
  display: block;
  padding-right: 15px;
}
.address-text-information p, .contact-text-information p, .email-text-information p, .clock-text-information p {
  margin-bottom: 0;
}
p.info-paragraph {
  margin: 0;
  padding-bottom: 30px;
  padding-right: 25px;
}
.address-text-information .h3,
.contact-text-information .h3,
.email-text-information .h3,
.clock-text-information .h3{ 
   line-height: 1;
  font-size: 16px;
  margin-bottom: 5px;
  text-transform: var(--text_style);
  font-weight: 500;
}
.contact-map iframe{
  width: 100% !important;
  border-radius: var(--radius_img);
}
@media screen and (max-width: 1360px) {
  .address-text-information .h3, .contact-text-information .h3, .email-text-information .h3, .clock-text-information .h3 {
    line-height: 1;
    font-size: 16px;
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 1199px) {
  .contact_main_heading {
    font-size: 30px;
  }
}
@media screen and (max-width: 1099px) {
  .contact_main_heading {
    font-size: 28px;
  }
}
@media screen and (max-width: 1099px) {
  .contact_main_heading {
    font-size: 28px;
  }
  .address-icon-information, .contact-icon-information, .email-icon-information, .clock-icon-information{
    padding-right: 10px;
  }
}
@media screen and (max-width: 991px) {
  p.info-paragraph {
    padding-right: 0px;
  }
  ul.company-info li {
    margin-bottom: 0px;
  }
  .contact-map {
     padding-bottom: 35px;
  }
  .contact-row{
    flex-direction: column;
  }
  .form-partition, .contact-address-partition{
    max-width: 100%;
  }
  .contact.form-partition{
    margin-top: 30px;
  }
}
@media screen and (max-width: 840px) {
  .contact_main_heading {
    font-size: 24px;
  }
   .contact-map{
     padding-bottom: 30px;
  }
}
@media screen and (max-width: 767px) {
  .contact-map{
     padding-bottom: 25px;
  }
  .address-text-information .h3, .contact-text-information .h3, .email-text-information .h3, .clock-text-information .h3{
    font-size: 16px;
  }
}
@media screen and (max-width: 640px) {
  .contact_main_heading {
    font-size: 20px;
  }
  .contact-map iframe{
    height: 200px;
  }
}
@media screen and (max-width: 575px) {
  .contact-map{
     padding-bottom: 15px;
  }
}