.page-title {
  margin-top: 0;
}
.main-page-title {
  text-align: center;
  margin-bottom: 0;
  font-size: 50px;
}
.page-placeholder-wrapper {
  display: flex;
  justify-content: center;
}
.page-placeholder {
  width: 52.5rem;
  height: 52.5rem;
}
@media screen and (max-width: 1200px){
  .main-page-title {
    font-size: 40px;
  }
}
@media screen and (max-width: 991px){
  .main-page-title {
    font-size: 30px;
  }
}
@media screen and (max-width: 767px){
  .main-page-title {
    font-size: 22px;
  }
}